.top {
    position: relative;
    width: 102%;
    height: 110px;
    box-shadow: 10px 0.01px 5px rgb(230, 229, 229);
    margin-top: -10px;
    margin-left: -17px;
}

#topBarPic {
    padding-left: 40px;
    padding-right: 100px;
    width: 110px;
    height: 110px;
}

.topBarNav {
    margin-left: 220px;
    margin-top: -50px;
}

#topBarNavSpan1 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 18px;
}

#topBarNavSpan2 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 18px;
}

#topBarNavSpan3 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 18px;
}

#topBarNavSpan4 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 18px;
}

#topBarNavSpan5 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 18px;
}

#topBarNavRed {
    height: 10px;
}

#red1 {
    position: absolute;
    background-color: #DA291C;
    width: 80px;
    height: 5px;
    margin-left: -92px;
    margin-top: 40px;
    visibility: hidden;
}

#red2 {
    position: absolute;
    background-color: #DA291C;
    width: 80px;
    height: 5px;
    margin-left: -92px;
    margin-top: 40px;
    visibility: hidden;
}

#red3 {
    position: absolute;
    background-color: #DA291C;
    width: 80px;
    height: 5px;
    margin-left: -90px;
    margin-top: 40px;
    visibility: hidden;
}

#red4 {
    position: absolute;
    background-color: #DA291C;
    width: 80px;
    height: 5px;
    margin-left: -92px;
    margin-top: 40px;
    visibility: hidden;
}

#red5 {
    position: absolute;
    background-color: #DA291C;
    width: 80px;
    height: 5px;
    margin-left: -86px;
    margin-top: 40px;
    visibility: hidden;
}

#topBarNavSpan1:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

#topBarNavSpan2:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

#topBarNavSpan3:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

#topBarNavSpan4:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

#topBarNavSpan5:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

.topBarRight {
    margin-left: 950px;
    margin-top: -60px;
}

.topBarSearch {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topBarSearch:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

.topBarAroundMcd {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topBarAroundMcd:hover {
    background-color: #FFC72C;
    border-radius: 8px;
}

.leftMenuAll_div {
    margin-top: 100px;
    margin-right: 840px;
    margin-left: 30px;
}

.leftMenuAll_ul {
    list-style: none;
}

.leftMenuAll_li {
    border-style: solid;
    border-color: #DA291C;
    border-radius: 4px;
    border-width: 2px;
    width: 270px;
}

.leftMenuAll_Pic {
    padding-left: 20px;
    width: 80px;
    height: 80px;
}

.leftMenuAll_span {
    padding-left: 10px;
    font-size: 18px;
    position: relative;
    top: -30PX;
}

.leftMenu_div {
    margin-top: 25px;
    margin-right: 840px;
    margin-left: 60px;
}

.leftMenu_ul {
    list-style: none;
    border-style: solid;
    border-color: #DA291C;
    border-radius: 4px;
    border-width: 2px;
    margin-left: 10px;
    width: 230px;
}

.leftMenu_Pic {
    margin-left: -15px;
    width: 80px;
    height: 80px;
}

.leftMenu_span {
    padding-left: 10px;
    font-size: 18px;
    position: relative;
    top: -30PX;
}

.breakfast {
    margin-left: 710px;
    margin-top: -910px;
}

.breakfast_h {
    font-size: 38px;
    font-weight: lighter;
}

/* .menuFirst_div{
} */

.menuFirst_ul {
    list-style: none;
    margin-left: 350px;
    margin-top: 50px;
}

.menu2_ul {
    list-style: none;
    margin-left: 350px;
    margin-top: 140px;
}

.menu3_ul {
    list-style: none;
    margin-left: 350px;
    margin-top: 120px;
}

.menuFirst_li {
    display: inline;
}

.menuFirst_li_middle {
    display: inline;
    margin-left: -60px;
}

.menuFirst_li_last {
    display: inline;
    margin-left: -80px;
}

.menu2_li {
    margin-top: 100px;
    display: inline;
}

.menu2_li_middle {
    display: inline;
    margin-left: -150px;
}

.menu2_li_last {
    display: inline;
    margin-left: -110px;
}

.menuFirst_Pic {
    width: 180px;
    height: 180px;
    margin-right: 80px;
}

.menuFirst_span {
    position: relative;
    left: -210px;
    top: 50px;
    font-size: 18px;
}

.menuFirst_span_middle {
    position: relative;
    left: -220px;
    top: 50px;
    font-size: 18px;
}

.menuFirst_span_last {
    position: relative;
    margin-left: -240px;
    top: 50px;
    font-size: 18px;
}

.menu2_span {
    position: relative;
    left: -245px;
    top: 50px;
    font-size: 18px;
}

.menu2_span_middle {
    position: relative;
    left: -240px;
    top: 50px;
    font-size: 18px;
}

.menu2_span_last {
    position: relative;
    margin-left: -220px;
    top: 50px;
    font-size: 18px;
}

.menu3_span {
    position: relative;
    left: -220px;
    top: 50px;
    font-size: 18px;
}

.menu3_span_middle {
    position: relative;
    left: -210px;
    top: 50px;
    font-size: 18px;
}

.menu3_span_last {
    position: relative;
    margin-left: -200px;
    top: 50px;
    font-size: 18px;
}

.menu_a {
    text-decoration: none;
    color: black;
    
}

.menu_a:link {
    color: #000000;
}

/* 未存取連結*/
.menu_a:visited {
    color: #000000;
    text-decoration: none;
}

/* 已存取連結 */
/* a:hover {
    color: #FF00FF;
} */

/* 滑鼠移動到連結上 */
.menu_a:active {
    color: #000000;
}

/* 滑鼠點選時 */
